.time {
  color: #030303;
  font-size: 1rem;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 2rem;
  text-align: center;
}
.temp {
  color: #030303;
  font-size: 2rem;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 30px;
  text-align: center;
}
