.time {
  color: #030303;
  font-size: 16px;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 22px;
  text-align: center;
}
.temp {
  color: #030303;
  font-size: 24px;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 30px;
  text-align: center;
}
